* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 223, 223);
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.maincard {
  width: 90%;
  max-width: 470px;
  border-radius: 32px;
  background: linear-gradient(312deg, #587FED 0.42%, #6BBEF4 94.27%);
  padding: 24px;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
}

.citySearch {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
  flex: 1;
  padding: 16px;
  font-size: 16px ;
  border: 0;
  border-radius: 32px;
}

input::placeholder {
  color: #ccc;
}

button {
  width: 48px;
  height: 48px;
  border: 0;
  border-radius: 24px;
  background: #fff;
  margin-left: 16px;
  cursor: pointer;
}

button:hover {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 15px 16px;
}


button img {
  padding-top: 6px;
}

.weatherBox {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
}

.weatherIcon {
  margin-bottom: 32px;
  width: 220px;
  height: auto;
  margin: 0 auto;
}

h1 {
  font-size: 120px;
  font-weight: 100;
}
.moreOptions {
  display: flex;
  gap: 32px;
  align-self: center;
  margin-top: 32px;
  background: #ffffff14;
  width: auto;
  border-radius: 24px;
  padding: 16px 24px;
}

.weartherDetails {
  display: flex;
  align-items:center;
  gap: 8px;
  color: #d2dcf9;
  font-size: 28px;
  font-weight: 300;
  line-height: 1.4;
}

.valueType {
  font-size: 16px;
}

.detailsIconValue {
  text-align: left;
}

.valueDescription {
  font-size: 16px;
  padding: 0;
  font-style: italic;
}

.weartherDetails__icon {
  width: 46px;
  height: auto;
}

.cityError {
  text-align: left;
  margin-left: 0;
  margin-top: 16px;
  display: none;
}

.weatherBox {
  display: none;
}